$black-0: #fff;
$black-200: #ccc;
$black-300: #bfbfbf;
$black-400: #969696;
$black-700: #404040;
$black-800: #333333;
$black-900: #262626;

$menu-item-size: 32px;
$menu-background-color: #333;
$menu-padding: 16px;
$menu-width: $menu-item-size + $menu-padding + $menu-padding;

$header-height: 64px;
$footer-height: 30px;
