.icon-red {
  filter: brightness(50%) sepia(0.5) hue-rotate(0deg) saturate(100);
}

.icon-green {
  filter: brightness(25%) sepia(0.5) hue-rotate(30deg) saturate(100);
}

.icon-blue {
  filter: brightness(50%) sepia(0.5) hue-rotate(190deg) saturate(100);
}

.icon-yellow {
  filter: brightness(50%) sepia(0.5) hue-rotate(20deg) saturate(100);
}
